﻿@model IEnumerable<WebAPI.Models.Employee>
@{
    ViewData["Title"] = "Home Page";
}


@foreach (var item in Model)
{
    <div class="card" style="width: 18rem;">
        <img class="card-img-top" src="~/Uploads/@item.EmployeeImage" asp-append-version="true" alt="@item.EmployeeName" />
        <div class="card-body">
            <h5 class="card-title">@item.EmployeeName</h5>
            <a asp-controller="Employees" asp-action="Details" asp-route-id="@item.Id" class="btn btn-primary">View Details</a>
        </div>
    </div>
}

 
    @*<div class="text-center">
        <h1 class="display-4">Welcome</h1>
        <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    </div>*@
