﻿@model IEnumerable<WebAPI.Models.Employee>

@{
    ViewData["Title"] = "Index";
}

<h2 class="text-center text-uppercase">list of Employees</h2>

<p>
    <a asp-action="Create" asp-controller="Employees" class="btn btn-primary rounded-0"><i class="fa fa-plus-circle"></i> Add New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.EmployeeName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EmployeeImage)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Department)
            </th>
            <th>Action(s)</th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.EmployeeName)
            </td>
            <td>
                <a asp-action="Details" asp-route-id="@item.Id">
                    <img src="~/Uploads/@item.EmployeeImage" class="img-thumbnail" height="100" width="100" asp-append-version="true" />
                </a>
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Department.departmentName)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
